.title_background, .background2{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;  
}
.title_background{
/*    background-position: center;*/
    background-image: url(images/white_background.jpg);
    min-height: 83em;
}

.background2{
    
    background-image: url(images/white_background2.jpg);
    min-height: 54em;
}
