.title_background, .background2{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;  
}
.title_background{
    background-image: url(images/buckmire_guard.jpg);
    min-height: 81em;
}

.background2{
    background-image: url(images/buckmire_laugh.jpg)  ;
    min-height: 50em;
}
